<div ng-controller="oiaNuevoController as vm">
  <md-card>
    <md-card-header>
      <div layout flex>
        <div layout layout-align="start center" flex="60">
          <h1 class="md-toolbar-tools">OIA Nuevo</h1>
        </div>
        <div layout layout-align="end center" flex="40">
          <md-button class="md-icon-button">
            <i class="material-icons">delete</i>
          </md-button>
          <md-button class="md-icon-button">
            <i class="material-icons">check</i>
          </md-button>
        </div>
      </div>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
      <div layout="row">
        <div flex="30">
          <p>Seguro de Gastos Médicos Mayores</p>
        </div>
        <div flex="30" flex-offset="5">
          <p>Seguro de Vida</p>
        </div>
        <div flex="30" flex-offset="5">
          <p>Funnel de Ventas</p>
        </div>
      </div>

      <div layout="row" flex style="height:64px;">
      <md-input-container flex="30">
        <label>Meta Anual de Casos de GMM</label>
        <input ng-model="vm.dato.metaanual"><hr/>
      </md-input-container>
      <md-input-container flex="30" flex-offset="5">
        <label>Comisión Promedio Vida</label>
        <input ng-model="vm.dato.comisionpromvida"><hr/>
      </md-input-container>
      <md-input-container flex="30" flex-offset="5">
        <label>Solicitudes</label>
        <input ng-model="vm.dato.solicitudes"><hr/>
      </md-input-container>
      </div>

      <!-- otros tres-->
        <div layout="row" flex style="height:64px;">
          <md-input-container flex="30">
            <label>Prima Promedio Anual por Poliza GMM $</label>
            <input ng-model="vm.dato.primaprom"><hr/>
          </md-input-container>
          <md-input-container flex="30" flex-offset="5">
            <label>Prima Promedio Vida</label>
            <input ng-model="vm.dato.primapromvida"><hr/>
          </md-input-container>
          <md-input-container flex="30" flex-offset="5">
            <label>Semanas trabajadas</label>
            <input ng-model="vm.dato.semtrabajadas"><hr/>
          </md-input-container>
        </div>

        <!-- otros tres-->
          <div layout="row" flex style="height:64px;">
            <md-input-container flex="30">
              <label>Comisión Promedio de GMM %</label>
              <input ng-model="vm.dato.comisionprom"><hr/>
            </md-input-container>
            <md-input-container flex="30" flex-offset="5">
              <label>Índice de No Tomadas Vida</label>
              <input ng-model="vm.dato.indicevidas"><hr/>
            </md-input-container>
            <md-input-container flex="30" flex-offset="5">
              <label>Llamadas / Contactos</label>
              <input ng-model="vm.dato.llamadas"><hr/>
            </md-input-container>
          </div>

          <!-- tres con uno vacio en medio-->
            <div layout="row" flex style="height:64px;">
              <md-input-container flex="30">
                <label>Comisiones Anuales de GMM inicial</label>
                <input ng-model="vm.dato.comisionanualini"><hr/>
              </md-input-container>
              <md-input-container flex="30" flex-offset="5">
              </md-input-container>
              <md-input-container flex="30" flex-offset="5">
                <label>Contacto / Citas Obtenidas</label>
                <input ng-model="vm.dato.contactos"><hr/>
              </md-input-container>
            </div>

            <!-- tres con uno vacio en medio-->
              <div layout="row" flex style="height:64px;">
                <md-input-container flex="30">
                  <label>Primas de GMM por Renovar</label>
                  <input ng-model="vm.dato.primasgmm"><hr/>
                </md-input-container>
                <md-input-container flex="30" flex-offset="5">
                </md-input-container>
                <md-input-container flex-offset="5">
                  <label>Citas</label>
                  <input ng-model="vm.dato.citas"><hr/>
                </md-input-container>
              </div>

              <!-- otros tres-->
                <div layout="row" flex style="height:64px;">
                  <md-input-container flex="30">
                    <label>Comisiones Anuales de Renovación GMM</label>
                    <input ng-model="vm.dato.comisionanualreno"><hr/>
                  </md-input-container>
                  <md-input-container flex="30" flex-offset="5">
                    <label>Casos de Vida Necesiarios</label>
                    <input ng-model="vm.dato.casosvida"><hr/>
                  </md-input-container>
                  <md-input-container flex="30" flex-offset="5">
                    <label>Entrevista Inicial</label>
                    <input ng-model="vm.dato.entrevistaini"><hr/>
                  </md-input-container>
                </div>

                <!-- otros tres-->
                  <div layout="row" flex style="height:64px;">
                    <md-input-container flex="30">
                      <label>Ingresos Total Anual Esperado de GMM</label>
                      <input ng-model="vm.dato.ingresostot"><hr/>
                    </md-input-container>
                    <md-input-container flex="30" flex-offset="5">
                      <label>Prima Anualizada Objetivo</label>
                      <input ng-model="vm.dato.primaanual"><hr/>
                    </md-input-container>
                    <md-input-container flex="30" flex-offset="5">
                      <label>Entrevista Cierre</label>
                      <input ng-model="vm.dato.entrevistacierre"><hr/>
                    </md-input-container>
                  </div>

                  <!-- Son los rows que separan-->
                    <div layout="row" flex style="height:64px;">
                      <md-input-container flex="30">
                      </md-input-container>
                      <md-input-container flex="30" flex-offset="5">
                      </md-input-container>
                      <md-input-container flex="30" flex-offset="5">
                      </md-input-container>
                    </div>

                      <!-- Ultimos dos-->
                      <div layout="row" flex style="height:64px;">
                        <md-input-container flex="30">
                          <label>Gasto Mensual</label>
                          <input ng-model="vm.dato.gastom"><hr/>
                        </md-input-container>
                        <md-input-container flex="30" flex-offset="5">
                          <label>Diferencia con Ingresos Anuales Deseados</label>
                          <input ng-model="vm.dato.difingresosanuales"><hr/>
                        </md-input-container>
                      </div>
        <!--
      <div layout layout-align="start start" flex="100">
          <div layout="column" flex="45">
              margen de separacion
              <md-input-container>
                <label>Primas de Vida por Renovar en el Año</label>
                <input ng-model="vm.dato.primasvida"><hr/>
              </md-input-container>
              <md-input-container>
                <label>Comisión Promedio de Renovación Vida</label>
                <input ng-model="vm.dato.comisionpromreno"><hr/>
              </md-input-container>
              <md-input-container>
                <label>Ingresos Anuales por Renovación de Vida</label>
                <input ng-model="vm.dato.ingresosanuales"><hr/>
              </md-input-container>
              <md-input-container>
                <label>Ingresos Anuales Deseados</label>
                <input ng-model="vm.dato.ingresosanualesdes"><hr/>
              </md-input-container>
              <md-input-container>
                <label>Ingresos Anuales GMM</label>
                <input ng-model="vm.dato.ingresosanualesgmm"><hr/>
              </md-input-container>
              <md-input-container>
                <label>Ingresos Anuales por Renovación de Vida</label>
                <input ng-model="vm.dato.ingresosanualesrenovida"><hr/>
              </md-input-container>
              <md-input-container>
                <label>Ingresos Anuales Necesarios</label>
                <input ng-model="vm.dato.ingresosanualeseces"><hr/>
              </md-input-container>
          </div>
      </div>
    -->
      <!--Aqui va toda la lista <md-button class="md-raised md-primary">Ejecutivo</md-button> -->
      <!--
      <md-list flex="100">
        <md-subheader class="md-no-sticky" style="background-color:gainsboro">
          <div layout="rows"  flex layout layout-align="start start">
            <div flex="40" layout layout-align="start start"> Actividad </div>
            <div flex="10" layout layout-align="center start"> Anual</div>
            <div flex="10" layout layout-align="center start"> Semestral </div>
            <div flex="10" layout layout-align="start start"> Trimestral </div>
            <div flex="10" layout layout-align="center start"> Mensual</div>
            <div flex="10" layout layout-align="center start"> Semanal </div>
            <div flex="10" layout layout-align="center start"> Diario </div>
          </div>
        </md-subheader>
            se termina subheader y empieza la lista
       <md-list-item ng-repeat="nuevo in vm.nuevo">
         <tr ng-repeat="friend in friends | orderBy:predicate:reverse">
           <div flex="40" layout layout-align="start start">
             <p> {{ nuevo.actividad }} </p>
           </div>
           <div flex="10" layout layout-align="center start">
             <p>{{nuevo.anual}}</p>
           </div>
           <div flex="10" layout layout-align="center start">
             <p> {{ nuevo.semestral }} </p>
           </div>
           <div flex="10" layout layout-align="center start">
             <p> {{ nuevo.trimestral }} </p>
           </div>
           <div flex="10" layout layout-align="center start">
             <p> {{ nuevo.mensual }} </p>
           </div>
           <div flex="10" layout layout-align="center start">
             <p> {{ nuevo.semanal }} </p>
           </div>
           <div flex="10" layout layout-align="center start">
             <p> {{ nuevo.diario }} </p>
           </div>
         <md-divider></md-divider>
       </md-list-item>
     </md-list>
              El valor de la actividad
     <div flex="100" layout layout-align="start center">
       <h6>EL VALOR DE LA ACTIVIDAD</h6>
     </div>
     <md-divider></md-divider>
     <div flex="100" layout layout-align="center start">
       <div flex="45">
       <md-list-item ng-repeat="valor in vm.valor">
              <tr ng-repeat="friend in friends | orderBy:predicate:reverse">
           <div flex="80" layout layout-align="start start">
             <p> {{ valor.actividad }} </p>
           </div>
           <div flex="20" layout layout-align="center start">
             <p>{{valor.resp}}</p>
           </div>
         <md-divider></md-divider>
       </div>
       </md-list-item>
       <div flex="45" flex-offset="10">
       <md-list-item ng-repeat="valordos in vm.valordos">
              <tr ng-repeat="friend in friends | orderBy:predicate:reverse">
           <div flex="80" layout layout-align="start start">
             <p> {{ valordos.actividad }} </p>
           </div>
           <div flex="20" layout layout-align="center start">
             <p>{{valordos.resp}}</p>
           </div>
         <md-divider></md-divider>
       </md-list-item>
     </div>
     </div>-->
    </md-card-content>
  </md-card>
</div>
