<div ng-controller="equipoController as vm" ng cloak>
  <md-toolbar  style="height: 149px; position: fixed; top: 0">
    <div layout flex>
      <div layout layout-align="start center" flex="80">
        <h2 class="md-toolbar-tools">Equipo</h2>
      </div>
      <div layout layout-align="end center" flex="20">
        <md-button class="md-icon-button">
          <md-icon md-font-set="material-icons">search</i>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <md-card style="margin-top: 160px;">
    <!--
   <md-card-header>
     <div layout flex>
       <div layout layout-align="start center" flex="80">
         <h1 class="md-toolbar-tools">Equipo</h1>
       </div>
       <div layout layout-align="end center" flex="20">
         <md-button class="md-icon-button" ng-click="vm.click(true)">
           <i class="material-icons">search</i>
         </md-button>
         <md-button class="md-icon-button">
           <i class="material-icons">close</i>
         </md-button>
       </div>
     </div>
   </md-card-header>
 -->
   <md-card-content>
     <md-list >
       <md-subheader class="md-no-sticky">
         <div layout="columns"  flex layout layout-align="start center">
           <div flex="10" layout layout-align="start center"> Foto </div>
           <div flex="35" layout layout-align="start center"> Nombre
             <md-button class="md-icon-button" ng-click="vm.ordernarNombres( 'Nombre' )">
               <md-icon ng-show="vm.ordering == 'DESC'" md-set-font="material-icons">arrow_downward</md-icon>
               <md-icon ng-show="vm.ordering == 'ASC'" md-set-font="material-icons">arrow_upward</md-icon>
             </md-button>
             <span class="sortorder" ng-show="predicate === 'Nombre'" ng-class="{reverse:reverse}"></span>
             </md-button></div>
           <div flex="20" layout layout-align="start center"> Último Proceso </div>
           <div flex="10" layout layout-align="start center"> Duración </div>
           <div flex="15" layout layout-align="start center"> Fecha de Proceso </div>
           <div flex="10" layout layout-align="start center"> Teléfono </div>
         </div>
       </md-subheader>
       <!--se termina subheader y empieza la lista -->
       <md-divider></md-divider>
      <md-list-item ng-repeat="equipo in vm.equipo">
        <!--<tr ng-repeat="friend in friends | orderBy:predicate:reverse">-->
        <div flex="100" layout layout-align="start center" flex style="margin:10px 0px 10px;">
          <div flex="10" layout layout-align="start center">
            <!--<p> {{ equipo.Nombre }} </p>-->
            <div class="avatar-picture"></div>
          </div>
          <div flex="35" layout layout-align="start center">
            <p>{{equipo.Nombre}}</p>
          </div>
          <div flex="20" layout layout-align="start center">
            <p> {{ equipo.UP }} </p>
          </div>
          <div flex="10" layout layout-align="start center">
            <p> {{ equipo.Duracion }} </p>
          </div>
          <div flex="15" layout layout-align="start center">
            <p> {{ equipo.FechaP }} </p>
          </div>
          <div flex="10" layout layout-align="start center">
            <p> {{ equipo.Telefono }} </p>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
   </md-card-content>
  </md-card>
</div>
