<div ng-controller="agentRecruitController as vm" ng-cloak>
	<md-card>
		<md-card-content>
			<md-list>
				<md-list-item ng-click="vm.abrirDialogo( 'pop', $event )">
					<div layout flex="100">
						<div layout layout-align="start center" layout-margin flex="20">
							<md-icon md-font-set="material-icons">done</md-icon>
							<label>Contacto</label>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="25">
							<label  class="detail-label">Ejecutivo</label>
							<p  class="detail-text">{{ vm.contact.executive }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<span flex="20" layout-margin></span>
						<span flex="15" layout-margin></span>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item ng-click="vm.abrirDialogo( 'pop', $event )">
					<div layout flex="100">
						<div layout layout-align="start center" layout-margin flex="20">
							<md-icon md-font-set="material-icons">schedule</md-icon>
							<label>POP</label>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="25">
							<label  class="detail-label">Ejecutivo</label>
							<p  class="detail-text">{{ vm.contact.executive }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<span flex="15" layout-margin></span>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item ng-click="vm.abrirDialogo( 'agendarCitaSeleccion', $event )">
					<div layout flex="100">
						<div layout layout-align="start center" layout-margin flex="20">
							<md-icon md-font-set="material-icons">schedule</md-icon>
							<label>Entrevista Inicial</label>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="25">
							<label  class="detail-label">Ejecutivo</label>
							<p  class="detail-text">{{ vm.contact.executive }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<span flex="15" layout-margin></span>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<div layout flex="100">
						<div layout layout-align="start center" layout-margin flex="20">
							<md-icon md-font-set="material-icons">schedule</md-icon>
							<label>Selección</label>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="25">
							<label  class="detail-label">Ejecutivo</label>
							<p  class="detail-text">{{ vm.contact.executive }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<span flex="15" layout-margin></span>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<div layout flex="100">
						<div layout layout-align="start center" layout-margin flex="20">
							<md-icon md-font-set="material-icons">done</md-icon>
							<label>Carrera 1</label>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="25">
							<label  class="detail-label">Ejecutivo</label>
							<p  class="detail-text">{{ vm.contact.executive }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<span flex="20" layout-margin></span>
						<span flex="15" layout-margin></span>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<div layout flex="100">
						<div layout layout-align="start center" layout-margin flex="20">
							<md-icon md-font-set="material-icons">done</md-icon>
							<label>Carrera 2</label>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="25">
							<label  class="detail-label">Ejecutivo</label>
							<p  class="detail-text">{{ vm.contact.executive }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<span flex="20" layout-margin></span>
						<span flex="15" layout-margin></span>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<div layout flex="100">
						<div layout layout-align="start center" layout-margin flex="20">
							<md-icon md-font-set="material-icons">done</md-icon>
							<label>Arranque</label>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="25">
							<label  class="detail-label">Ejecutivo</label>
							<p  class="detail-text">{{ vm.contact.executive }}</p>
						</div>
						<div layout="column" layout-align="center start" layout-margin flex="20">
							<label  class="detail-label">Fecha</label>
							<p  class="detail-text">{{ vm.contact.date }}</p>
						</div>
						<span flex="20" layout-margin></span>
						<span flex="15" layout-margin></span>
					</div>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
		</md-card-content>
	</md-card>
</div>
