<div ng-controller="nuevoProspectoController as vm">
	<!-- necesario para el header-->
	<md-toolbar  style="height: 149px; position: fixed; top: 0;">
		<div layout flex>
			<div layout layout-align="start center" flex="80">
				<h2 class="md-toolbar-tools">Nuevo Prospecto</h2>
			</div>
		</div>
	</md-toolbar>
	<div flex layout style="height: 150px;"></div>
	<!-- termina header -->
	<!-- Empieza contenido de panel -->
	<md-card>
		<!--
    <md-card-header>
      <div layout flex>
        <div layout layout-align="start center" flex="80">
          <h1 class="md-toolbar-tools">Nuevo Prospecto</h1>
        </div>
        <div layout layout-align="end center" flex="20">
          <md-button class="md-icon-button" ng-click="vm.click(true)">
            <i class="material-icons">check</i>
          </md-button>
          <md-button class="md-icon-button">
            <i class="material-icons">close</i>
          </md-button>
        </div>
      </div>
    </md-card-header>
-->
    <md-divider></md-divider>
    <md-card-content>
      <p>
       <h3>Control Interno</h3>
       <md-input-container>
         <label>Ejecutivo</label>
         <input ng-model="vm.persona.Ejecutivo"><hr/>
       </md-input-container>
          <div layout="row">
            <div flex>
              <md-input-container>
                <label>Fuente</label>
                <input ng-model="vm.persona.Fuente"><hr/>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <label>Subfuente</label>
                <input ng-model="vm.persona.Subfuente"><hr/>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <label>Agencia</label>
                <input ng-model="vm.persona.Agencia"><hr/>
              </md-input-container>
            </div>
          </div>
       <h3>Información de contacto</h3>
          <div layout="row">
            <div flex>
              <md-input-container>
                <label>Teléfono</label>
                <input ng-model="vm.persona.Telefono"><hr/>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <label>Celular</label>
                <input ng-model="vm.persona.Celular"><hr/>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <label>E-mail</label>
                <input ng-model="vm.persona.email"><hr/>
              </md-input-container>
            </div>
          </div>
       <h3>Información personal básica</h3>
          <div layout="row">
            <div flex>
              <md-input-container>
                <label>Nombre</label>
                <input ng-model="vm.persona.Nombre"><hr/>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <label>Apellido Paterno</label>
                <input ng-model="vm.persona.ApellidoPaterno"><hr/>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <label>Apellido Materno</label>
                <input ng-model="vm.persona.ApellidoMaterno"><hr/>
              </md-input-container>
            </div>
          </div>
      </p>
    </md-card-content>
	<md-card-actions layout layout-align="end center">
		<md-button class="md-accent">
			guardar
		</md-button>
	</md-card-actions>
  </md-card>
</div>
